.boxShadowBorder {
    /* box-shadow: -5px 0px 2px #4002a5, 5px 0px 2px #4002a5, 0px -5px 2px #4002a5, 0px 5px 2px #4002a5; */
}

.email {
    width: 80vw;
    height: min(70vh, 450px);
}

.send {
    background-image: linear-gradient(to top left, #6a15f4, #4002a5);
}

.emailSent {
    background-image: linear-gradient(to right, #5f04f1, #4f02cb, #3d009f, #2c0171);
}