@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;       /* Light mode text */
  --background-rgb: 255, 255, 255; /* Light mode background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Dark mode text */
    --background-rgb: 0, 0, 0;       /* Dark mode background */
  }
}

.dark {
  --foreground-rgb: 255, 255, 255; /* Dark mode text */
  --background-rgb: 0, 0, 0;       /* Dark mode background */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-width: 100vw;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html, body {
  overflow: auto;
  scrollbar-width: none;     /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
