.card {
    background-image: linear-gradient(rgb(55, 54, 54), black);
    width: min(90vw, 1000px);
}

.logo {
    width: min(10vw, 50px);
    height: auto;
}

.title {
    font-size: min(2vw, 18px);
}